:root {
    --hue: 104;
    --dark-blue: #363f5f;
    --primary-color: hsl(var(--hue), 63%, 41%);
    --light-color: hsl(var(--hue), 91%, 40%);
    --red: #e92929;
    --light-gray: #e0dede;
    --lighter-color: hsl(calc(var(--hue) + 16), 44%, 78%);
    --header: hsl(var(--hue), 37%, 21%);
    --sidebar-border: hsl(calc(var(--hue) + 130), 29%, 26%);
}

/* Global ===================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box /*n entendi :p*/;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar ===================================*/

.border {
    border: 1px solid red;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-left: 1px solid var(--sidebar-border);
}

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;
    padding: initial;
}

.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0  16px 0 12px;
    border-radius: 24px;
    line-height: 1;
}

.sidebar button:hover > span {
    background: rgba(255, 255, 255, .08);
    transition: all .2;
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: .2s;
}

.sidebar button span {
    font-size: 16px;
}

.logo-img {
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform .4s;
    margin-left: 10px;
}

.logo-img:hover {
    transform: scale(1.5);
}

.sr-only { /* truques para fazer elementos sumirem da tela */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: circle(0%);
    white-space: nowrap;
    border-width: 0;
}

.container{
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles ===================================*/
h2 {
    margin-top: 3.2rem; /*tamanho relativo ao tamanho da fonte do navegador(normalmente 16px)*/
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
}

/* Links & Buttons ===================================*/
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--light-color);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--primary-color);
    padding: 0;
    border-radius: .15rem;
    cursor: pointer;
}

button:hover {
    background: var(--light-color);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: .15rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
}

.button.cancel:hover {
    background-color: var(--light-gray);
    opacity: 1;
}

/* Header ===================================*/
header{
    background-color: var(--header);
    padding: 2rem 0 10rem;
    text-align: center;
}

header svg path[fill="#49AA26"] {
    fill: hsl(var(--hue), 64%, 41%);
}

#logo{
    color: #fff;
    font-weight: 100;
}

/* Balance ===================================*/
#balance{
    margin-top: -8rem;
}

#balance h2{
    color: white;
}

/* Card ===================================*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total{
    background: var(--primary-color);
    color: white;
}

/* Table ===================================*/
#transaction {
    /* display: block;
    width: 100%; */
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: white;
    color: #969cb3;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 0.5;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}

/* Modal ===================================*/
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    visibility: hidden;
    z-index: 1;
}

.modal-overlay.active {
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
}

/* Form ===================================*/
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: .2rem;
    padding: .8rem;
    width: 100%;
}
.input-group {
    margin-top: .8rem;
}

.input-group small {
    background-color: var(--lighter-color);
    opacity: .4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* Footer ===================================*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* Responsive ===================================*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}